<% include ../partials/header %>

<form method='POST' action='/courses/mgmt/create'>

	<div class="container">
		<div class='page-header'>
			<h3>Create New Course</h3>
		</div>

		<ol class="breadcrumb">
			<li><a href="/syllabi_tracker">Home</a></li>
			<li><a href='/courses/mgmt'>Courses Management</a></li>
			<li class="active">New Course</li>
		</ol>

		<div class='form-group'>
			<label for='code'>Code</label>
			<input type='text' class='form-control' name='code'>

			<label for='description'>Description</label>
			<input type='text' class='form-control' name='description'>

			<label for='units'>Units</label>
			<input type='number' class='form-control' min='1' max='5' name='units'>

			<br>
			<button type='submit' class='btn btn-primary btn-lg'>Submit</button>
		</div>
	</div>

</form>

<% include ../partials/footer %>