<% include ../../partials/header %>

<form method='POST' action='../../../../courses/mgmt/topics/create/<%= course_id %>'>

	<div class="container">

		<br>

		<ol class="breadcrumb">
			<li><a href="/syllabi_tracker">Home</a></li>
			<li><a href='/courses/mgmt'>Courses Management</a></li>
			<li><a href='/courses/mgmt/syllabus/<%= course_id %>'>Course Syllabus</a></li>
			<li class="active">New Topic</li>
		</ol>

		<div class='page-header'>
			<h3>Create New Topic</h3>
		</div>

		<div class='form-group'>
			<div class='input-group'>
				<span class="input-group-addon">Topic Number</span>
				<input type="number" class="form-control" name="topic_number" placeholder="A '1' input would mean this is the first topic to be discussed, a '2' is the second, and so on...">
			</div>

			<br>

			<div class='input-group'>
				<span class="input-group-addon">Topic</span>
				<input type="text" class="form-control" name="topic">
			</div>

			<br>

			<div class='input-group'>
				<span class="input-group-addon">Number of Hours</span>
				<input type="number" class="form-control" name="no_of_hours">
			</div>

			<br>

			<div class='input-group'>
				<span class="input-group-addon">Learning Outcomes</span>
				<textarea class='form-control' rows='5' name='learning_outcomes'></textarea>
			</div>

			<br>

			<div class='input-group'>
				<span class="input-group-addon">Learning Activities</span>
				<textarea class='form-control' rows='5' name='learning_activities'></textarea>
			</div>

			<br>

			<div class='input-group'>
				<span class="input-group-addon">Resources</span>
				<textarea class='form-control' rows='5' name='resources'></textarea>
			</div>

			<br>

			<div class='input-group'>
				<span class="input-group-addon">Assessment</span>
				<textarea class='form-control' rows='5' name='assessment'></textarea>
			</div>

			<br>

			<button type='submit' class='btn btn-primary btn-lg'>Submit</button>
		</div>
	</div>

</form>

<% include ../../partials/footer %>