<% include partials/header %>

<div class='container'>

	<div class='page-header'>
		<h3>Edit Course Syllabus</h3>
	</div>

	<ol class="breadcrumb">
		<li><a href="/syllabi_tracker">Home</a></li>
		<li><a href='/syllabi_tracker/mgmt'>Syllabi Management</a></li>
		<li class="active">Edit Course Syllabus</li>
	</ol>

</div>

<% include partials/footer %>