<% include partials/header %>

<div class='container'>

	<div class='page-header'>
		<h3>Syllabi Management</h3>
		
	</div>

	<div class='jumbotron'>
		<mark>List of Syllabi</mark>

		<ul>
			<% syllabi.forEach((syllabus) => { %>
				<li><%= syllabus.code %> - <%= syllabus.description %> (<%= syllabus.units %> units)</li>
			<% }) %>
		</ul>
	</div>

	<div class='page-footer'>
		<small>Create a 

		<a href='/syllabi_tracker/mgmt/new_course' class='btn btn-primary btn-xs' role='button'>New Course</a>
		</small>
	</div>

</div>

<% include partials/footer %>