<% include partials/header %>

<div class='container'>

	<div class='page-header'>
		<h3>Syllabi Management</h3>
	</div>


	<ol class="breadcrumb">
		<li><a href="/syllabi_tracker">Home</a></li>
		<li class="active">Syllabi Management</li>
	</ol>

	<p class="label label-info">
		Create a <a href='/syllabi_tracker/mgmt/new_course'>New Course</a>
	</p>

	

	

	<table class="table table-striped table-bordered table-hover">
		<tr>
			<th colspan="4">List of Courses</th>	
		</tr>

		<tr>
			<th>Code</th>
			<th colspan="2">Description</th>
			<th>Units</th>

		</tr>

		<% syllabi.forEach((syllabus) => { %>		
			<tr>
				<td><%= syllabus.code %></td>
				<td><%= syllabus.description %></td>
				<td><%= syllabus.units %> units</td>
				<td>actions</td>
			</tr>
		<% }) %>
	</table>

</div>

<% include partials/footer %>