<% include partials/header %>

<div class='container'>

	<div class='page-header'>
		<h3>Syllabi Management</h3>
		
	</div>

	<div class='jumbotron'>
		<mark>List of Syllabi</mark>
	</div>

	<div class='page-footer'>
		<a href='/syllabi_tracker/mgmt/new_course' class='btn btn-primary btn-xs' role='button'>Create New Course</a>
	</div>

</div>

<% include partials/footer %>