<% include ../partials/header %>

<script src='/js/course_crud.js'></script>

<div class='container'>

	<div class='page-header'>
		<h3>Classes Management</h3>
	</div>

	<ol class="breadcrumb">
		<li><a href="/syllabi_tracker">Home</a></li>
		<li class="active">Classes Management</li>
	</ol>

	<a class='btn btn-primary btn-lg' href='/classes/mgmt/new'>Create a New Class</a>

	<br><br>

	<table class="table table-striped table-bordered table-hover">
		<tr>
			<th colspan="4">List of Classes</th>	
		</tr>

		<tr>
			<th>Section</th>
			<th>Room</th>
			<th>Schedule</th>
			<th>Actions</th>
		</tr>

		<% classes.forEach((c) => { %>		
			<tr>
				<td><%= c.section %></td>
				<td><%= c.room %></td>
				<td><%= c.schedule %></td>
				<td>
					<button type='submit' name='submit_button' class='courseDelete btn btn-danger btn-sm' data-id='<%= c._id %>'>Delete</button>
				</td>
			</tr>
		<% }) %>

	</table>





<% include ../partials/footer %>