<% include ../partials/header %>

<form method='POST' action='/classes/mgmt/create'>

	<div class='container'>
		<ol class="breadcrumb">
			<li><a href="/syllabi_tracker">Home</a></li>
			<li><a href='/classes/mgmt'>Classes Management</a></li>
			<li class="active">New Class</li>
		</ol>

		<div class='page-header'>
			<h3>Create a New Class</h3>
		</div>

		<div class='form-group'>

      <div class="input-group">
        <span class="input-group-addon">School Year</span>
        <input type="text" class="form-control" name="sy" placeholder="e.g. 2018 - 2019">
      </div>

  			<br>

  			<div class="input-group">
    			<span class="input-group-addon">Semester</span>
    			<input type="text" class="form-control" name="sem" placeholder="e.g. 1st">
  			</div>

  			<br>

			<div class="input-group">
    			<span class="input-group-addon">Class Section</span>
    			<input type="text" class="form-control" name="section">
  			</div>

  			<br>

  			<div class="input-group">
    			<span class="input-group-addon">Room</span>
    			<input type="text" class="form-control" name="room">
  			</div>

  			<br>

  			<div class="input-group">
    			<span class="input-group-addon">Schedule</span>
    			<input type="text" class="form-control" name="schedule" placeholder="e.g. MWF 7:00am - 8:30am">
  			</div>
		</div>

		<br>
		<button type='submit' class='btn btn-primary btn-lg'>Submit</button>
	</div>
	
</form>

<% include ../partials/footer %>